body {
  background-image: url("./assets/imgs/golden.jpg");
  background-size: cover;
  
}

.titulo {
display: flex;
flex-direction: row;
text-align: center;
align-items: center;
justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  width: 550px;
}
.cuadro_input {
  padding-top: 15px;
  padding-bottom: 30px;
}

.cuadro_conversion {
  padding-top: 15px;
  padding-bottom: 25px;
}

.cuadro_fecha {
  padding-bottom: 35px;
}

.titulo_tabla {
  background-color: rgba(165, 185, 49, 0.5);
  padding-top: 20px;
}

.tabla_final {
  background-color: rgba(165, 185, 49, 0.5);
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

h1 {
    font-weight: bold;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(243, 85, 11);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #edf763, 0 0 0.5em #faf7f7,
      0 0 0.1em #b9b5b5, 0 7px 3px #d9f075;

}
h1 span {
    animation: blink linear infinite 2s;
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  h3 {
    padding-left: 10px;
    
  }

h4 {
  color:#333;
  font-weight: bold;
  }

h6 {
  color: rgb(221, 221, 11);
}

.valor_convertido {
  background-color: rgb(34, 114, 26);
  color: whitesmoke;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.encabezado {
  
  padding: 5px;
    background-color: #e6c929;
  
  font-weight: bold;
  
}
footer {
  
  padding: 10px;
  margin-top: 90px;
  background-color: #e6c929;
  text-align: center;
  font-weight: bold;
  
}

.logo_bcentral {
  height: 70px;
  padding-left: 15px;
}

